/* HTML ELEMENTS ==================== */
@media screen {
  html,
  body {
    /*width:100% !important;*/
    padding: 0;
    margin: 0;
  }
  body {
    font-family: 'Verdana', 'Geneva', sans-serif;
    font-size: 100%; /* 16px */
  }
  div,
  p,
  blockquote,
  pre,
  code,
  section,
  span,
  a,
  li,
  figure,
  fieldset,
  form,
  label,
  legend,
  table,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  iframe {
    box-sizing: border-box;
    border-width: 0;
    margin: 0;
    padding: 0;
  }
  iframe {
    max-width: 100% !important;
  }
  a {
    text-decoration: none;
    border-width: 0;
    background-color: transparent;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    word-wrap: break-word;
    margin: 0;
  }
  table {
    empty-cells: show;
    border-collapse: collapse;
  }
  th,
  td {
    vertical-align: top;
  }
  ol,
  ul {
    /* leave browser's default padding-left intact ??? */
    box-sizing: border-box;
    margin: 0;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  sup {
    vertical-align: top;
    position: relative;
    top: -4px;
  }
  sub,
  sup {
    font-weight: normal !important;
  }
  code {
    display: block;
  }
  figure {
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }
  figcaption {
    position: absolute;
    width: 100%;
    bottom: 0px;
    color: #a97;
    background-color: rgba(43, 40, 47, 0.7);
    padding: 4px 12px 6px 12px;
  }
  p:empty {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    line-height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }
  /* submit, button */
  input {
    font-family: inherit;
    font-size: inherit;
  }
  input[type='submit'],
  input[type='button'] {
    -webkit-appearance: none;
    border: 0;
  }
  input[type='submit']:hover,
  input[type='button']:hover {
    -webkit-appearance: none;
    cursor: pointer;
  }
}
@media screen and (max-height: 640px) {
  figcaption {
    font-size: 14px;
    padding: 2px 8px;
  }
} /* end html elements */
